body{
    background-image: url(image.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}
.h1{
    text-align: center;
}

.div1{
    border-radius: 20px;
    background-color: rgb(155, 207, 232);
    text-align: center;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    /* border: 3px solid rgb(26, 26, 26); */
    margin-left: auto;
    margin-right: auto;
}

.input{
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(230, 230, 225);
}

.a{
    text-decoration: none;
    text-align: center;
}